# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://amperstore.shop/account/google/callback

# App URL
PREFERRED_URL_SCHEME=https
APP_DOMAIN=amperstore.shop

# SMTP / Email
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SENDER_EMAIL=noreply@amperstore.shop
SMTP_SENDER_NAME=AmperShop
SMTP_USE_TLS=1
